<div id='conversation_wrapper'>
  <section class='inner'>
    <div class='conversations_box  d-block p-4'>
      <h3>Conversations</h3>
      <div>
        <div>
          <% @conversations.each do |conversation| %>
            <div class='convo-box'>
              <% if conversation.sender_id == current_player.id %>
                <% recipient = Player.find(conversation.recipient_id) %>
              <% else %>
                <% recipient = Player.find(conversation.sender_id) %>
              <% end %>
              <%= link_to recipient.playername, conversation_messages_path(conversation) %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class='conversations_box p-4'>
      <h3>All Players</h3>
      <div class='inner-box h-75'>
        <% @players.each do |player| %>
          <% if player.id != current_player.id %>
            <div class='player_box m-1'>
              <%= link_to player.playername, player_path(player) %> <%= link_to 'Message me!', conversations_path(sender_id: current_player.id, recipient_id: player.id), method: 'post'%>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </section>
</div>
