<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <% @player.playername %>,</h1>
    <p>
      This is a message from Chess Senders.
      <% @opponent.playername %> has sent you a message!
    </p>
    <p>
      Click the link to see the conversation: <% @url %><br>
    </p>
    <p>Thanks for playing and have a great day!</p>
  </body>
</html>
