.game_wrapper {
  width: 85vh;
  max-width: 85vw;
  margin: 6rem auto auto auto;

  h4 {
    margin: 5px;
  }

  li {
    list-style: none;
  }

  span {
    text-transform: capitalize;
  }

  ul {
    margin: auto;
    padding-left: 0px;
  }
}

.forfeit {
  margin-bottom: 0px;
}

.game-title {
  text-align: center;
}

.info-box {
  margin: auto;
  margin-bottom: 10px;
  width: 30vw;
}

.inner {
  margin-top: -60px;
}
