#messages_index {
  width: 60%;
  height: 80%;
  margin: 6rem auto;

  .inner {
    height: 100%;
    > h1 {
      text-align: center;
      margin-bottom: 3rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid _palette(border);
     }

    > ul {
      > li {
        @include vendor('display', 'flex');
        @include vendor('justify-content', 'space-between');
        margin-bottom: 3rem;
        list-style: none;

        > form {
          margin-bottom: 0;
          margin-top: auto;
        }
      }
    }
  }

  .message-sent {
    background: #ffffff;
    border-radius: .4em;
    color: #000000;
    position: relative;
  }

  .message-received {
    background: #80ff80;
    border-radius: .4em;
    color: #000000;
    position: relative;
  }

  .message-sent:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #ffffff;
    border-right: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-right: -20px;
  }

  .message-received:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #80ff80;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -20px;
  }
}
